<%- include('partials/layout') -%>

  <div class="banner page-header">
    <div class="col-lg-6">
      <h1>RHHS XC</h1>
      <hr>
   
      


    </div>
  </div>
</body>

<%- include('partials/footer') -%>