  <div class="banner page-header">
    <div class="btn-group-vertical" role="group" aria-label="...">
      <br>
      <button type="button" onclick="showContent('courseAdd')" class="btn btn-primary btn-lg">Add a Course </button>
      <br>
      <button type="button" onclick="showContent('meet_update')" class="btn btn-primary btn-lg">Update Meet</button>
      <br>
      <button type="button" onclick="showContent('uploadCSV')" class="btn btn-primary btn-lg">Upload CSV Data</button>
      <br>
      <button type="button" onclick="showContent('athleticNetCSV')" class="btn btn-primary btn-lg">Athletic.net Data</button>
      <br>
      <button type="button" onclick="showContent('prUpdate')" class="btn btn-primary btn-lg">Determine PR</button>
      <br>
    </div>
  </div>
 